
@{
    ViewBag.Title = "Yenimusteri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div>
        <button style="margin-top:10px;" class="btn btn-info"> MÜŞTERİ EKLE </button>
    </div>

</form>
