@model YeniProje.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label>Markası</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>
    <div>
        <label>Kategori Seçiniz</label>

        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok Adedi</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div>
        <button style="margin-top:10px;" class="btn btn-info"> URUN   EKLE </button>
    </div>


</form>